#testimage
{
	max-width: 1000px;
	max-height: 800px;
}

.box
{
	position: absolute;
	display: block;
	border: 1px solid red;
	pointer-events: none;
}

#status
{
	font-size: 30pt;
}

.instructions
{
	margin-top: 100px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}

.button
{
	cursor: pointer;
}

#loading
{
	position: absolute;
	left: 130px;
	top: 150px;
	max-width: 50px;
}

iframe
{
	width: 400px;
	height: 260px;
	pointer-events: none;
}
